<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    

  </head>
  <body>

    <script type="text/javascript">
    // if(isAuthenticated){
    //     res.redirect('/chatting');
    //   }else{
    //     alert('who are you!');
    //   }
    //   </script> 

    
    <div id="content">
      <p>wtf
        <a href="/">login</a>
      </p>

    </div>








  </body>

</html>