<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/stylesheets/style_1.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/javascripts/form_javascript.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    

  </head>
  <body>
    <div id="general_title1"><p id="general_title">SS Messenger</p></div>

    <div id="user_data_signup">
        <div id="signup_title">
            <h1>sign up</h1>
            <P>Join now it's free!</p>
        </div>
        <div class="arrow-up"></div>
        <section id="inside_signup">
        <form action="/hello" method="POST">
                    <input name="input_3" id="input_3" type="text" placeholder="Full name" />

                    <input name="input_4" id="input_4" type="text" placeholder="Username" />

                    <input name="input_5" id="input_5" type="email" placeholder="Email"  required />

                    <input name="input_6" id="input_6" type="password" placeholder="Password" />

                    <input name="input_7" id="input_7" type="password" placeholder="Confirm" />

                    <input id="submit_button_2" type="submit" value="signup"/>

        </form>
        </section>

    </div>


  </body>
  <style type="text/css">

  </style>
</html>
